<style>
.cell {
  width: {{size}}px;
  height: {{size}}px;
}
</style>

{{#if level.won}}
  <h1>YOU WON!</h1>
{{/if}}

{{draw-board level.board}}
{{draw-player level.player onMove=(route-action 'move' level)}}
{{draw-box level.box}}
