<div class="container {{if level.won "won"}}">
  <div class="container--inner" style="transform:scale({{level.zoom}})">
    {{#draw-board level.board}}
      {{draw-player level.player onMove=(route-action 'move' level)}}
    {{/draw-board}}
  </div>

  {{#if level.won}}
    {{level-over level hasNextLevel=hasNextLevel on-next=(route-action "nextLevel" level)}}
    {{track-event level=level}}
  {{/if}}

  {{score-board level}}
</div>
